* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #252422;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




h1 {
    margin-bottom: 40px;
    font-size: 40px;
    color: #000000;
}

.container {
    background-color: #adc178;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    text-align: center;
    border: solid 2px;

}

form p {
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    color: #2c3e50;
    font-weight: 600;
}

table {
    font-size: 1.1rem;
    border-spacing: 16px;
    width: 100%;

}


input[type="text"] {
    width: 650px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #3498db;
}

button {
    background-color: #626c66;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    transition: all .4s ease-in-out;
    transform: scale(1.2);
    background-color: #000000;
}

#results {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.weight-guide-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weight-guide {
    background: #f2f7f1;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}


.weight-guide h2 {
    font-size: 1.75rem;
    margin-bottom: 20px;
    text-align: center;
    color: #2e7d32;
}

.weight-guide table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 15px;
}

.weight-guide th,
.weight-guide td {
    padding: 12px;
    border: 1px solid #ddd;
}

.weight-guide th,
td:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(165, 135, 135, 0.1);
    transition: all 0.3s ease-in-out;
    background-color: #adc178;
}

.weight-guide th {
    background-color: #e0f2f1;
    color: #2e7d32;
    text-align: center;
}

.weight-guide td {
    color: #4a4a4a;
    text-align: center;
}